*.ansi
lcov.info
docs/

node_modules
.env
coverage
coverage.json

#Hardhat files
cache*
artifacts*
typechain/

.idea/
.DS_Store
abi/
types/
.vscode/

#vim
**/.*.swp

#Foundry files
out/
forge-cache

*-key.json
