name: Lint CI
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  check-lint:
    name: Check Solidity lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Check Solidity Style
        run: forge fmt --check
